.container{
    display: flex;
    flex-direction: column;  
    flex-wrap: wrap; 
    margin: 10px;
    align-content: center;

}

h1{
    margin: 50px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    text-align: center;
    width: 40vw;
    height: 20vh;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30vw;
    margin: 30px;
    padding: 30px;
    
}

#selector{
    margin: 50px;
    text-align: center;
    border-radius: 20px;     
}

#seleccion{
    border-radius: 15px;
    font-weight: bold; 
    width:50vw;
    height: 5vh;  
    
    
}



section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    width: 90vw;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 18px 5px gray;
}

#togglePrice{
    border-radius: 15px;
    margin: 10px;

}
#abc{
    border-radius: 15px;
    margin: 10px;
}


/* PORTRAIT tablets AND LARGE PHONES*/


@media only screen and (min-width: 600px) {
    .container {
        flex-direction: row; 
        justify-content: center;
        margin: 0px;
    }
    img{
        max-height: 20vh;
        max-width: 20vw;
        
    }
    section{
        width: 40vw;
        margin:15px;
    }

    p{
        width: 20vw;
        height: 20vh;
    }
  }
/*LAPTOPS*/
@media only screen and (min-width: 900px){
    .container{
        flex-direction: row; 
    }

    section{
        flex-wrap: wrap; 
        margin: 20px;
        width: 20vw;
        flex-direction: row;
        justify-content:space-around;  
    }

    img{
        margin: 5px;
    }

    p{
        margin: 10px;
    }

  




}